/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

a {
  color: inherit;
}

.header {
  background-color: #472f88;
  color: white;
}

.container {
  padding: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.header h1 {
  font-size: 2.77rem;
  font-weight: 700;
}

.header img {
  margin-bottom: 9px;
}

.btn {
  padding: 15px 40px;
  border-radius: 9px;
  background-color: white;
  color: #302465;
}

.intro div {
  margin: 30px auto;
}

.intro .btn {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
}

@media screen and (min-width: 480px) {
  .intro .btn {
    width: auto;
  }

  .intro div {
    line-height: 1.4;
  }
}
@media screen and (min-width: 1024px) {
  .header h1 {
    font-size: 4rem;
  }

  .header img {
    margin-bottom: 60px;
  }

  header .container {
    padding: 175px 25px;
  }

  .intro {
    width: 60%;
  }
}
h2 {
  font-size: 1.77rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.77rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card {
  text-align: center;
  padding: 25px;
  width: 310px;
  height: 310px;
  margin-bottom: 30px;
}

.card .image {
  padding: 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
}

.image a {
  color: white;
}

.pepiniere {
  background-image: url(images/pepinieres_d_entreprise.png);
}

.fablab {
  background-image: url(images/fablab.png);
}

.residents {
  background-image: url(images/residents.png);
}

.services {
  background-image: url(images/nos_services.png);
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

hr {
  border: 5px solid #472f88;
  border-radius: 5px;
  width: 100px;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
