$purple : #472f88;
$fontFamily : 'Roboto', sans-serif;
$fontSize: 18px;
$regular: 400;
$medium: 500;
$thin: 100;
$bold: 700;

body {
    font-family: $fontFamily;
    font-size: $fontFamily;
    font-weight: $regular;
    line-height: 1.2    ;
}

a {
    color:inherit;
}
.header {
    background-color: $purple;

    color:white;
}

.container {
    padding:25px;
    max-width: 1200px;
    margin:0 auto;
}

.header h1 {
    font-size: 2.77rem;
    font-weight: $bold;
}

.header img {
    margin-bottom: 9px;
}

.btn {
    padding: 15px 40px;
    border-radius: 9px;
    background-color: white;
    color:#302465;
}

.intro div {
    margin: 30px auto;
}
.intro .btn {
   width:100%;
   display:inline-block;
   text-align:center;
   font-size:1.1rem;
}

@media screen and (min-width:480px)  {
    .intro .btn {
       width:auto;
    }

    .intro div {
        line-height: 1.4;
    }
}

@media screen and (min-width:1024px) {

    .header h1 {
        font-size: 4rem;
    }

    .header img {
        margin-bottom: 60px;
    }
    header .container {
        padding: 175px;
    }
    .intro {
        width:60%;
    }
}

