h2 {
    font-size: 1.77rem;
    font-weight:700;
    margin-bottom: 1rem;
}

.card {
    text-align: center;
    padding:25px;
    max-width:310px;
}

.flex {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

@media screen and (min-width:480px)  {
    
}

@media screen and (min-width:1024px) {
   

}